 /* I also could use scss or css in js,but decided to use simple css  */
.auto-complete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 4px;
  overflow: hidden;
}

.auto-complete-input {
  outline: 0;
  padding: 8px;
}

.auto-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #9b9797;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 15%);
  overflow: hidden;
}

.auto-container p {
  padding: 8px;
  font-size: 14px;
  margin: 0;
}

.option {
  padding: 8px;
  border-bottom: 1px solid #9b9797;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background: #fafafa;
  box-sizing: border-box;
}

.option:last-child {
  border-bottom: none;
}

.option:first-child {
  border-bottom: 1px solid #9b9797;
}
